
.stretch {
    width:100%;
    height:100%;
}

body, td{
  font-family: Archer;
  background-color: white;
  font-size: 13px;
}

/* Start Histogram Style*/
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font-size: 12px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* End Histogram Style*/
body{
  max-width: 595px;
  margin: auto;
  padding: 1em;
  padding-top:0;
  line-height: 20px;
  font-size:12pt;
}
 .flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: hidden;
  width: auto;
  max-width: 595px;
}  

table.dataTable {
    width:auto;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    max-width:595px;
}

th {
  background-color: #539342;
  color: white;
  font-weight: normal;
  padding: 5px 5px;
  text-align: center;
  word-wrap: break-word;
}
td {
  background-color: rgb(238, 238, 238);
  color: rgb(111, 111, 111);
  padding: 5px 5px;
}

header{
  height:145px;
}

header h1{
  display: block;
  margin:0;
  padding:0;
  padding-left:10px;
  padding-right:200px;
  position: relative;
  font-size:36px;
  line-height: 32px;
  margin-top:-260px;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

header img{
  width: 595px; 
  height: 280px; 
  position: relative;
  z-index: -1;
}

section{
  position:relative;
  clear:both;
}

.clear {
  clear: both;
}

select {
font-size:1em; 
border: 1px solid lightblue; 
border-radius: 2px;
padding: 4px;
width: 150px; 
background-position: right 15px top 22px; background-size: 18px 18px;
}
select:active {
  border: 1px solid #000;
}

hr{
  display: block;
  height: 1px;
  background: transparent;
  width: 100%;
  border: none;
  border-top: solid 1px #aaa;
}
h1{
  width: auto;
  display: inline-block;
  font-family: 'Archer','Archer SSm A','Archer SSm B';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  color: #fff;
  margin-top:20px;
  padding: .28em .8em .4em 25px;
}

.h1sub{
  margin-top:80px;    
  color: #575757;
  text-align: center;
  font-weight: normal;
  display: inline;
}

h2{
  font-size:1.8em;
  color: #0DA6C9
}

h3{
  font-size:1.4em;
}

h4{
  font-size:1.0em;
}

h5{
  font-size:0.9em;
  margin-top:1em;
  margin-bottom:1em;
}

h6{
  font-size:0.8em;
}

a:visited{
  color: rgb(50%, 0%, 50%);
}

table, td, th{
  border: none;
  overflow: hidden;
  width: auto;
  max-width: 595px;
  
}

blockquote{
  color:#666666;
  margin:0;
  padding-left: 1em;
  border-left: 0.5em #EEE solid;
}

hr{
  height: 0px;
  border-bottom: none;
  border-top-width: thin;
  border-top-style: dotted;
  border-top-color: #999999;
}
#map {
  width: 595px;
  height: 400px;
}
ul{
  display: inline-block;
  float:left;
  vertical-align: top;
  margin-top: 0px;
  width: 595px;
}
/*
.plot-selector-tabs {
  font-size:1.8em;
  color: #0DA6C9;
  font-family: 'Archer','Archer SSm A','Archer SSm B';
  font-weight: bold;
}

.selector-tabs {
  font-size: 1.2em;
}

.selector-tabs select{
  border: 1px solid lightblue;
  border-radius: 2px;
  padding: 4px;
  width: 150px;
  background-position: right 15px top 22px;
  background-size: 18px 18px;
}
*/
@media print{
  *{
    background: transparent !important;
    color: black !important;
    filter:none !important;
    -ms-filter: none !important;
  }

  header img{
    width:100%;
  }

  header h1{
    color:#FFF !important;
    text-shadow: 0 0 0 #FFF !important;
    margin-top:-200px;
  }

  @media print and (-webkit-min-device-pixel-ratio:0){
    header h1{
      color:#FFF !important;
      -webkit-print-color-adjust: exact !important;
    }
  }

  .page-break{
    page-break-before: always;
  }

  body {
    font-size:10pt;
    max-width:100%;
  }

  a, a:visited {
       text-decoration: underline;
     }

  hr {
    visibility: visible;
    page-break-before: avoid;
  }

  pre, blockquote {
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    page-break-before: always;
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3; widows: 3;
  }

  h1, h2, h3 {
    page-break-after: avoid;
  }
